<nav class="main-menu navbar navbar-expand-lg justify-content-center" role="navigation" aria-label="Main navigation">
    <div class="nav-container">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link" href="/" id="navbarDropdown5" role="button" aria-label="Ana Sayfa">
                        <span class="<%= title==='Ana Sayfa' && 'activeLink' %>">Ana Sayfa</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about" id="navbarDropdown5" role="button"
                        aria-expanded="false"><span class="<%= title==='Hakk覺m覺zda' && 'activeLink' %>">Hakk覺m覺zda</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/galeri" role="button"
                    aria-expanded="false"><span class="<%= title==='Galeri' && 'activeLink' %>">Galeri</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/courses" id="navbarDropdown5" role="button"
                        aria-expanded="false"><span class="<%= title==='Blog' && 'activeLink' %>">Blog</span></a>
                </li>
                <% if(userIN){ %>
                <li class="nav-item">
                    <a class="nav-link" href="/users/dashboard" id="navbarDropdown5" role="button"
                        aria-expanded="false"><span class="<%= title==='Dashboard' && 'activeLink' %>">Yemek Listesi</span></a>
                </li>
                <% } %>


            </ul>
        </div>
    </div>
</nav>