<%- include('partials/head') %>
<main>
    <section class="blog-details-area pt-150 pb-105 pt-md-100 pb-md-55 pt-xs-100 pb-xs-55">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog-details-box mb-45">
                        <h2><%= blog.title %></h2>
                        <ul class="blogs__meta mb-30">
                            <li><span class="blog-author">Tabiat Anaokulu</span></li>
                            <li><span><img src="/img/icon/material-date-range.svg" alt="mate-date"><%= blog.createdAt.toDateString() %></span></li>
                            <li><span><img src="/img/icon/material-access-time.svg" alt="mate-date"> 03</span></li>
                            <li><span><img src="/img/icon/material-comment.svg" alt="mate-date"> 5 Min</span></li>
                            <li>
                                <div class="social-media blog-details-social">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fab fa-instagram"></i></a>
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                    <a href="#"><i class="fab fa-twitter"></i></a>
                                </div>
                            </li>
                        </ul>
                        <img class="img-fluid blog-details-img mb-35" src="/img/blog/16.jpg" alt="blog-details-img">
                        <p><%= blog.content %></p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="blog-widget-area">
                        <div class="widget mb-50">
                            <div class="blog-search-widget">
                                <% if (user && !(user.courses.includes(course._id))) {  %>
                                    <form method="POST" action="/courses/enroll" >
                                        <input type="hidden" name="course_id" value="<%= course._id %>">
                                        <button class="btn btn-lg" type="submit"><span>Başla</span></button>
                                    </form>
                                <% } %>
                            </div>
                        </div>
                        <div class="widget mb-50">
                            <div class="blog-categories-widget">
                                <h4 class="sub-title pb-20 mb-25 pt-25">Kategoriler</h4>
                                <div class="courses-tag-btn cat-btn">
                                    <a href="#">Kategori 1</a>
                                    <a href="#">Kategori 2</a>
                                    <a href="#">Kategori 3</a>
                                    <a href="#">Kategori 4</a>
                                    <a href="#">Kategori 5</a>
                                    <a href="#">Kategori 6</a>
                                    <a href="#">Kategori 7</a>
                                    <a href="#">Kategori 8</a>
                                </div>
                            </div>
                        </div>
                        <div class="widget mb-50">
                            <div class="blog-categories-widget">
                                <h4 class="sub-title pb-20 mb-25 pt-25">Recent Post</h4>
                                <ul class="blog-recent-post">
                                    <li>
                                        <div class="posts mb-20">
                                            <img src="/img/blog/24.jpg" alt="" class="posts__thumb mb-15">
                                            <p>1st July , 2021</p>
                                            <h6><a href="blog-details.html">Lorem Ipsum is simply dummy text</a></h6>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="posts mb-20">
                                            <img src="/img/blog/25.jpg" alt="" class="posts__thumb mb-15">
                                            <p>1st July , 2021</p>
                                            <h6><a href="blog-details.html">Ipsum Lorem is simply dummy text</a></h6>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="posts mb-20">
                                            <img src="/img/blog/26.jpg" alt="" class="posts__thumb mb-15">
                                            <p>1st July , 2021</p>
                                            <h6><a href="blog-details.html">Lorem Ipsum is simply dummy text</a></h6>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="posts mb-20">
                                            <img src="/img/blog/27.jpg" alt="" class="posts__thumb mb-15">
                                            <p>1st July , 2021</p>
                                            <h6><a href="blog-details.html">Ipsum Lorem is simply dummy text</a></h6>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="posts mb-20">
                                            <img src="/img/blog/28.jpg" alt="" class="posts__thumb mb-15">
                                            <p>1st July , 2021</p>
                                            <h6><a href="blog-details.html">Lorem Ipsum is simply dummy text</a></h6>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="posts mb-20">
                                            <img src="/img/blog/29.jpg" alt="" class="posts__thumb mb-15">
                                            <p>1st July , 2021</p>
                                            <h6><a href="blog-details.html">Ipsum Lorem is simply dummy text</a></h6>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="widget mb-50">
                            <h4 class="sub-title pb-20 mb-25 pt-25">Social Media</h4>
                            <div class="blog-social-widget">
                                <div class="social-media mb-30">
                                    <a href="#"><i class="fab fa-facebook-f"></i></a>
                                    <a href="#"><i class="fas fa-basketball-ball"></i></a>
                                    <a href="#"><i class="fab fa-youtube"></i></a>
                                    <a href="#"><i class="fab fa-pinterest-p"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="widget mb-50">
                            <div class="blog-categories-widget">
                                <h4 class="sub-title pb-20 mb-25 pt-25">Tags</h4>
                                <div class="courses-tag-btn cat-btn tag-btn">
                                    <a href="#">Online Class</a>
                                    <a href="#">Skill Share</a>
                                    <a href="#">Web Learn</a>
                                    <a href="#">Development</a>
                                    <a href="#">Direction</a>
                                    <a href="#">Certificate</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
<%- include("partials/footer") %>
