<%- include('partials/head') %>

<main>
    <section class="blog-details-area pt-150 pb-105 pt-md-100 pb-md-55 pt-xs-100 pb-xs-55">
        <div class="container">
            <div class="row">
                <div class="col-lg-8">
                    <div class="blog-details-box mb-45">
                        <h2><%= course.title %></h2>
                        <ul class="blogs__meta mb-30">
                            <li><span class="blog-author"><%= course.category.title %></span></li>
                            <li><span><img src="/img/icon/material-date-range.svg" alt="mate-date">
                                <%= new Date(course.createdAt).toISOString().split('T')[0] %></span></li>
                        </ul>
                        
                        <!-- Display the image -->
                        <img src="<%= course.image %>" alt="Blog Image" style="max-width: 100%;">

                        <!-- Display the content -->
                        <div class="blog-content mt-4">
                            <%- course.content %>
                        </div>
                    </div>
                    <div class="d-flex justify-content-between">
                        <a href="/courses/<%= course.slug %>/edit" class="btn btn-outline-warning">Düzenle</a>
                        <form method="POST" action="/courses/<%= course.slug %>?_method=DELETE" onsubmit="return confirm('Bu blog yazısını silmek istediğinize emin misiniz?');">
                            <button type="submit" class="btn btn-outline-danger">Sil</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-4">
                    <!-- Sidebar content -->
                </div>
            </div>
        </div>
    </section>
</main>

<%- include("partials/footer") %>
