<%- include('partials/head') %>

<main>
    <!-- Courses Section -->
    <section class="courses-area pt-150 pb-120 pt-md-100 pb-md-70 pt-xs-100 pb-xs-70">
        <div class="container">


            <div class="category-list mt-5">
                <h4 class="mb-3">Kategoriler</h4>
                <ul class="list-inline">
                    <% for (let i = 0; i < categories.length; i++) { %>
                        <li class="list-inline-item">
                            <a href="/courses?categories=<%= categories[i].slug %>" class="btn btn-outline-secondary">
                                <%= categories[i].title %>
                            </a>
                        </li>
                    <% } %>
                </ul>
            </div>


            <div class="row justify-content-center">
                <div class="col-xl-8 col-lg-9">
                    <div class="section-title text-center mb-55">
                        <h2>Blog Yazıları</h2>
                    </div>
                    <form method="GET" id="site-searchform" action="/courses" class="mb-5">
                        <div class="input-group">
                            <input class="form-control" name="search" id="search-k" placeholder="Ara..." type="text">
                            <div class="input-group-append">
                                <button class="btn btn-primary" id="searchsubmit" value="Search" type="submit">
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            
            <% if (flashMessages) { %>
                <% if (flashMessages.success) { %>
                    <div class="alert alert-success">
                        <%= flashMessages.success %>
                    </div>
                <% } else if (flashMessages.error) { %>
                    <div class="alert alert-danger">
                        <%= flashMessages.error %>
                    </div>
                <% } %>
            <% } %>
            
            <div class="row">
                <% for (let i = 0; i < courses.length; i++) { %>
                    <div class="col-lg-4 col-md-6">
                        <div class="z-blogs mb-30">
                            <div class="z-blogs__thumb mb-30">
                            <a href="/courses/<%= courses[i].slug %>"><img src="/img/slider/bg10.png" alt="blog-img"></a>
                            </div>
                            <div class="z-blogs__content">
                                <h5 class="mb-25"><%= courses[i].category %></h5>
                                <h4 class="sub-title mb-15"><a href="/courses/<%= courses[i].slug %>"><%= courses[i].title %>
                                </a></h4>
                                <p><%= courses[i].description.substring(0, 100) + "..." %></p>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>

            
        </div>
    </section>
</main>

<%- include("partials/footer") %>

<style>
    .course-icon {
        width: 50px;
        height: 50px;
    }
</style>
