<%- include('partials/head') %>
<style>
    .calendar {
      display: flex;
      overflow-x: auto;
    }
    .day {
      flex: 0 0 14%;
      border: 1px solid #dee2e6;
      text-align: center;
      margin: 0;
      padding: 0;
    }
    .day h5 {
      margin: 0;
      padding: 10px;
      background-color: #f8f9fa;
      border-bottom: 1px solid #dee2e6;
    }
    .day-part {
      border-top: 1px solid #dee2e6;
      padding: 10px;
      height: 100px;
    }
</style>


<main>

        <!-- Dashboard Title Area -->
        <section class="dashboard-title-area pt-150 pb-120 pt-md-100 pb-md-70 pt-xs-100 pb-xs-70">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-8 col-lg-9">
                        <div class="section-title text-center mb-55">
                            <% if (user.role === 'teacher') { %>
                                <h2>Öğretmen Paneli</h2>
                            <% } else if (user.role === 'student') { %>
                                <h2>Öğrenci Paneli</h2>
                            <% } else if (user.role === 'admin') { %>
                                <h2>Yönetim Paneli</h2>
                            <% } %>
                            <h4>Hoşgeldiniz, <%= user.name %></h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="container">
        <% if(flashMessages) { %>

            <% if(flashMessages.success) { %>
                <div class="alert alert-success">
                    <%= flashMessages.success %>
                </div>
            <% } else if(flashMessages.error){ %>
            <div class="alert alert-danger">
                <%= flashMessages.error %>
            </div>
                <% } %>
            <% } %>
        </div>
        <!-- Calendar Section -->
        <div class="container-fluid">
            <h3>Haftalık Takvim</h3>

            <% if (user.role === 'teacher' || user.role === 'admin') { %>
                <!-- Add Event Button -->
                <div class="container mt-4">
                    <button class="btn btn-outline-success mb-4" data-toggle="modal" data-target="#addEventModal">Ekle</button>
                    <button class="btn btn-outline-warning mb-4" data-toggle="modal" data-target="#addEventModal">Düzenle</button>
                </div>
            <% } %>


            <div class="calendar">
                <div class="day">
                    <h5>Pazartesi</h5>
                    <div class="day-part">Sabah</div>
                    <div class="day-part">Öğleden Sonra</div>
                    <div class="day-part">Akşam Üstü</div>
                </div>
                <div class="day">
                    <h5>Salı</h5>
                    <div class="day-part">Sabah</div>
                    <div class="day-part">Öğleden Sonra</div>
                    <div class="day-part">Akşam Üstü</div>
                </div>
                <div class="day">
                    <h5>Çarşamba</h5>
                    <div class="day-part">Sabah</div>
                    <div class="day-part">Öğleden Sonra</div>
                    <div class="day-part">Akşam Üstü</div>
                </div>
                <div class="day">
                    <h5>Perşembe</h5>
                    <div class="day-part">Sabah</div>
                    <div class="day-part">Öğleden Sonra</div>
                    <div class="day-part">Akşam Üstü</div>
                </div>
                <div class="day">
                    <h5>Cuma</h5>
                    <div class="day-part">Sabah</div>
                    <div class="day-part">Öğleden Sonra</div>
                    <div class="day-part">Akşam Üstü</div>
                </div>
                <div class="day">
                    <h5>Cumartesi</h5>
                    <div class="day-part">Sabah</div>
                    <div class="day-part">Öğleden Sonra</div>
                    <div class="day-part">Akşam Üstü</div>
                </div>
                <div class="day">
                    <h5>Pazar</h5>
                    <div class="day-part">Sabah</div>
                    <div class="day-part">Öğleden Sonra</div>
                    <div class="day-part">Akşam Üstü</div>
                </div>
            </div>
        </div>

    <!-- Add Event Modal -->
    <div class="modal fade" id="addEventModal" tabindex="-1" role="dialog" aria-labelledby="addEventModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addEventModalLabel">Etkinlik Ekle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="addEventForm">
                        <div class="form-group row">
                            <div class="form-group col-md-6">
                                <label for="event-day">Gün</label>
                                <select class="form-control" id="event-day" name="day" required>
                                    <option value="pazartesi">Pazartesi</option>
                                    <option value="salı">Salı</option>
                                    <option value="çarşamba">Çarşamba</option>
                                    <option value="perşembe">Perşembe</option>
                                    <option value="cuma">Cuma</option>
                                    <option value="cumartesi">Cumartesi</option>
                                    <option value="pazar">Pazar</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="event-time">Zaman</label>
                                <select class="form-control" id="event-time" name="time" required>
                                    <option value="morning">Sabah</option>
                                    <option value="lunch">Öğle</option>
                                    <option value="afternoon">Öğleden Sonra</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="event-description">Açıklama</label>
                            <textarea class="form-control" id="event-description" name="description" rows="3"></textarea>
                        </div>
                        <div class="text-right">
                            <button type="submit" class="btn btn-primary">Kaydet</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    

    <% if (user.role === 'admin') { %>
        <!-- Courses Section -->
        <div class="container">
            <h3 class="mb-4">Blog Yazıları</h3>
            <% courses.forEach(course => { %>
                <div class="card mb-3">
                    <div class="card-body">
                        <h5 class="card-title"><%= course.title %></h5>
                        <p class="card-text"><%= course.description.substring(0, 100) + "..." %></p>
                        <a href="/courses/<%= course.slug %>" class="btn btn-outline-primary mr-2">Görüntüle</a>
                        <button class="btn btn-outline-warning mr-2" data-toggle="modal" data-target="#updateCourse<%= course.slug %>">Düzenle</button>
                        <a href="/courses/<%= course.slug %>?_method=DELETE" class="btn btn-outline-danger" onclick="return confirm('Emin misiniz?')">Sil</a>
                    </div>
                </div>

                <!-- Update Modal -->
                <div class="modal fade" id="updateCourse<%= course.slug %>" tabindex="-1" role="dialog" aria-labelledby="editModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="editModalLabel">Dersi Düzenle</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form method="PUT" action="/courses" id="add-course-form">
                                    <div class="form-group">
                                        <label for="course-name">Ders Adı</label>
                                        <input type="text" class="form-control" id="title" name="title" value="<%= course.title %>" required>
                                    </div>
                                    <div class="form-group">
                                        <input type="hidden" class="form-control" value="<%= user.role %>" name="role" required>
                                    </div>
                                    <div class="form-group">
                                        <label for="course-description">Ders Açıklaması</label>
                                        <textarea class="form-control" id="description" name="description" rows="3" required><%= course.description %></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="course-instructor">Yaş Grubu</label>
                                        <select name="category" id="categoryselect" class="form-control">
                                            <% categories.forEach(category => { %>
                                                <option value="<%= category._id %>"><%= category.title %></option>
                                            <% }); %>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Kaydet</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            <% }); %>
        </div>
    <% } %>

    <% if (user.role === 'student') { %>
        <!-- Registered Courses Section -->
        <div class="container">
            <h3 class="mb-4">Kayıtlı Olduğunuz Dersler</h3>
            <ul class="list-group">
                <% user.courses.forEach(course => { %>
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        <a href="/courses/<%= course.slug %>"><%= course.title %></a>
                        <form method="POST" action="/courses/release" class="d-inline">
                            <input type="hidden" name="course_id" value="<%= course._id %>">
                            <button class="btn btn-outline-danger" type="submit">AYRIL</button>
                        </form>
                    </li>
                <% }); %>
            </ul>
            <a href="#" data-toggle="modal" data-target="#courseModal" class="btn btn-success mt-4">Yeni Yazı Ekle</a>
        </div>
    <% } %>

    <% if (user.role === 'admin') { %>
        <div class="container">
            <h3>Kategoriler</h3>
            <a href="#" data-toggle="modal" data-target="#addCategory" class="btn btn-success mt-4">Kategori Ekle</a>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">ID#</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i < categories.length; i++) { %>
                        <tr>
                            <td scope="row"><%= categories[i].title %></td>
                            <td><a href="/categories/<%= categories[i]._id %>?_method=DELETE" onclick="return confirm('ARE YOU SURE')" class="btn btn-danger rounded-0 text-white"><span>DELETE</span></a></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>

        <div class="container">
            <h3>Öğrenci Hesapları</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">İsim</th>
                        <th scope="col">Email</th>
                        <th scope="col">Görev</th>
                        <th scope="col">Sil</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i < students.length; i++) { %>
                        <tr>
                            <th scope="row"><%= students[i].name %></th>
                            <td><%= students[i].email %></td>
                            <td><%= students[i].role %></td>
                            <td><a href="/users/<%= students[i]._id %>?_method=DELETE" onclick="return confirm('ARE YOU SURE')" class="btn btn-danger rounded-0 text-white"><span>DELETE</span></a></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>

        <div class="container">
            <h3>Öğretmen Hesapları</h3>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">İsim</th>
                        <th scope="col">Email</th>
                        <th scope="col">Görev</th>
                        <th scope="col">Sil</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let i = 0; i < teachers.length; i++) { %>
                        <tr>
                            <th scope="row"><%= teachers[i].name %></th>
                            <td><%= teachers[i].email %></td>
                            <td><%= teachers[i].role %></td>
                            <td><a href="/users/<%= teachers[i]._id %>?_method=DELETE" onclick="return confirm('ARE YOU SURE')" class="btn btn-danger rounded-0 text-white"><span>DELETE</span></a></td>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    <% } %>

    <div class="modal fade" id="addCategory" tabindex="-1" role="dialog" aria-labelledby="categoryModal" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="categoryModal">Yeni Kategori Ekle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/categories" id="add-course-form">
                        <div class="form-group">
                            <label for="course-name">Kategori İsmi:</label>
                            <input type="text" class="form-control" id="title" name="title" required>
                        </div>
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="courseModal" tabindex="-1" role="dialog" aria-labelledby="courseModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="courseModalLabel">Yeni Ders Ekle</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="/courses" id="add-course-form">
                        <div class="form-group">
                            <label for="course-name">Ders Adı</label>
                            <input type="text" class="form-control" id="title" name="title" required>
                        </div>
                        <div class="form-group">
                            <input type="hidden" class="form-control" value="<%= user.role %>" name="role" required>
                        </div>
                        <div class="form-group">
                            <label for="course-description">Ders Açıklaması</label>
                            <textarea class="form-control" id="description" name="description" rows="3" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="course-instructor">Yaş Grubu</label>
                            <select name="category" id="categoryselect" class="form-control">
                                <% categories.forEach(category => { %>
                                    <option value="<%= category._id %>"><%= category.title %></option>
                                <% }); %>
                            </select>
                        </div>
                        <button type="submit" class="btn btn-primary">Kaydet</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<%- include('partials/footer') %>
