<%- include('partials/head') %>

<div class="container pt-150 pb-150">
    <h2>Blog Yazısını Düzenle</h2>
    <form method="POST" action="/courses/<%= course.slug %>?_method=PUT" id="edit-blog-form">
        <!-- Title input -->
        <div class="form-group">
            <label for="blog-title">Başlık</label>
            <input type="text" class="form-control" id="blog-title" name="title" value="<%= course.title %>" required>
        </div>

        <!-- Image URL input -->
        <div class="form-group">
            <label for="content-image">Görsel URL</label>
            <input type="url" class="form-control" id="content-image" name="image" value="<%= course.image %>" placeholder="Görsel URL" required>
            <small class="form-text text-muted">Bir URL girin. Örneğin: http://example.com/image.jpg</small>
        </div>

        <!-- Content editor -->
        <div class="form-group">
            <label for="blog-content-editor">İçerik</label>
            <textarea id="blog-content-editor" name="content"><%= course.content %></textarea>
        </div>

        <!-- Category selection -->
        <div class="form-group">
            <label for="blog-category">Kategoriler</label>
            <select name="category" id="blog-category" class="form-control">
                <% categories.forEach(category => { %>
                    <option value="<%= category._id %>" <%= course.category._id.toString() === category._id.toString() ? 'selected' : '' %>><%= category.title %></option>
                <% }); %>
            </select>
        </div>

        <!-- Hidden role input -->
        <input type="hidden" name="role" value="<%= user.role %>">

        <!-- Submit button -->
        <button type="submit" class="btn btn-outline-success mt-4">Kaydet</button>
    </form>
</div>

<!-- TinyMCE initialization script -->
<script src="https://cdn.tiny.cloud/1/ci50tct2dqn49yuj6fy54t44qhrrezgmrpjse3tgcrl07b7a/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
<script>
  tinymce.init({
    selector: '#blog-content-editor',
    plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
    toolbar_mode: 'floating',
  });
</script>

<!-- Image URL validation script -->
<script>
    document.getElementById('edit-blog-form').addEventListener('submit', function(event) {
        const imageInput = document.getElementById('content-image');
        if (imageInput.value.trim() !== '') {
            const urlPattern = /^(https?:\/\/)?([\da-z.-]+)\.([a-z.]{2,6})(\/[\w .-]*)*\/?$/;
            if (!urlPattern.test(imageInput.value.trim())) {
                event.preventDefault();
                alert('Lütfen geçerli bir URL girin.');
            }
        }
    });
</script>

<%- include('partials/footer') %>
