<%- include('partials/head') %>

    <main>




        <section class="feature-course  pt-150 pb-120 pt-md-95 pb-md-70 pt-xs-95 pb-xs-70">

            <div class="elementor-container elementor-column-gap-default pt-45">
                <div class="elementor-column elementor-col-100 elementor-top-column elementor-element elementor-element-a0c8fc6"
                    data-id="a0c8fc6" data-element_type="column"
                    data-settings="{&quot;background_background&quot;:&quot;classic&quot;}">
                    <div class="elementor-widget-wrap elementor-element-populated">
                        <div class="elementor-element elementor-element-bd85dd9 elementor-widget elementor-widget-zoomy-instructor"
                            data-id="bd85dd9" data-element_type="widget" data-widget_type="zoomy-instructor.default">
                            <div class="elementor-widget-container">
                                <section class="course-instructor nav-style-two pos-rel overflow-hidden">
                                    <div class="course-blur-shape"></div>
                                    <div class="course-bg-space">
                                        <div class="container">

                                            <div class="row">
                                                <div class="col-xl-8 col-lg-9">
                                                    <div
                                                    class="section-title section-title-2 text-center text-xl-start mb-50">
                                                    <h5 class="bottom-line left-line mb-25 pl-40">Fotoğraf Galerisi</h5>
                                                    <h2 class="mb-20">En Güzel Anılarımızı Keşfedin</h2>
                                                    <p>Okulumuzda geçirilen unutulmaz anların bir koleksiyonuna göz atın. Her karede, çocuklarımızın eğlence ve öğrenme dolu dünyasını yansıtan özel anlar saklı.</p>

                                                </div>
                                                </div>
                                            </div>
                                            <div class="instructor-active owl-carousel owl-loaded owl-drag">









                                                <div class="owl-stage-outer">
                                                    <div class="owl-stage"
                                                        style="transform: translate3d(-1350px, 0px, 0px); transition: all; width: 5400px;">
                                                        <div class="owl-item cloned"
                                                            style="width: 307.5px; margin-right: 30px;">
                                                            <div class="item">
                                                                <div class="z-instructors text-center mb-30">
                                                                    <div class="z-instructors__thumb mb-10">

                                                                        <img decoding="async"
                                                                            src="/tabiatGaleri/12.jpeg"
                                                                            alt="Tabiat Anaokulu Galeri">

                                                                        <div class="social-media">
                                                                            <a href="https://www.instagram.com/ayseogretmentabiatanaokulu/" target="_blank">
                                                                                <i class="fab fa-instagram"></i>
                                                                            </a>
                                                                           
                                                                        </div>

                                                                    </div>
                                                                 
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="owl-item cloned"
                                                            style="width: 307.5px; margin-right: 30px;">
                                                            <div class="item">
                                                                <div class="z-instructors text-center mb-30">
                                                                    <div class="z-instructors__thumb mb-10">

                                                                        <img decoding="async"
                                                                            src="/tabiatGaleri/21.jpeg"
                                                                            alt="Tabiat Anaokulu Galeri">

                                                                        <div class="social-media">
                                                                            <a href="https://www.instagram.com/ayseogretmentabiatanaokulu/" target="_blank">
                                                                                <i class="fab fa-instagram"></i>
                                                                            </a>
                                                                           
                                                                        </div>

                                                                    </div>
                                                                  
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="owl-item cloned"
                                                            style="width: 307.5px; margin-right: 30px;">
                                                            <div class="item">
                                                                <div class="z-instructors text-center mb-30">
                                                                    <div class="z-instructors__thumb mb-10">

                                                                        <img decoding="async"
                                                                            src="/tabiatGaleri/13.jpeg"
                                                                            alt="Tabiat Anaokulu Galeri">

                                                                        <div class="social-media">
                                                                            <a href="https://www.instagram.com/ayseogretmentabiatanaokulu/" target="_blank">
                                                                                <i class="fab fa-instagram"></i>
                                                                            </a>
                                                                           
                                                                        </div>

                                                                    </div>
                                                                  
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="owl-item cloned"
                                                            style="width: 307.5px; margin-right: 30px;">
                                                            <div class="item">
                                                                <div class="z-instructors text-center mb-30">
                                                                    <div class="z-instructors__thumb mb-10">

                                                                        <img decoding="async"
                                                                            src="/tabiatGaleri/14.jpeg"
                                                                            alt="Tabiat Anaokulu Galeri">

                                                                        <div class="social-media">
                                                                            <a href="https://www.instagram.com/ayseogretmentabiatanaokulu/" target="_blank">
                                                                                <i class="fab fa-instagram"></i>
                                                                            </a>
                                                                           
                                                                        </div>

                                                                    </div>
                                                                  
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="owl-item active"
                                                            style="width: 307.5px; margin-right: 30px;">
                                                            <div class="item">
                                                                <div class="z-instructors text-center mb-30">
                                                                    <div class="z-instructors__thumb mb-10">

                                                                        <img decoding="async"
                                                                            src="/tabiatGaleri/25.jpeg"
                                                                            alt="Tabiat Anaokulu Galeri">

                                                                        <div class="social-media">
                                                                            <a href="https://www.instagram.com/ayseogretmentabiatanaokulu/" target="_blank">
                                                                                <i class="fab fa-instagram"></i>
                                                                            </a>
                                                                           
                                                                        </div>

                                                                    </div>
                                                                  
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="owl-item active"
                                                            style="width: 307.5px; margin-right: 30px;">
                                                            <div class="item">
                                                                <div class="z-instructors text-center mb-30">
                                                                    <div class="z-instructors__thumb mb-10">

                                                                        <img decoding="async"
                                                                            src="/tabiatGaleri/6.jpeg"
                                                                            alt="Tabiat Anaokulu Galeri">

                                                                        <div class="social-media">
                                                                            <a href="https://www.instagram.com/ayseogretmentabiatanaokulu/" target="_blank">
                                                                                <i class="fab fa-instagram"></i>
                                                                            </a>
                                                                           
                                                                        </div>

                                                                    </div>
                                                                    
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="owl-item active"
                                                            style="width: 307.5px; margin-right: 30px;">
                                                            <div class="item">
                                                                <div class="z-instructors text-center mb-30">
                                                                    <div class="z-instructors__thumb mb-10">

                                                                        <img decoding="async"
                                                                            src="/tabiatGaleri/7.jpeg"
                                                                            alt="Tabiat Anaokulu Galeri">

                                                                        <div class="social-media">
                                                                            <a href="https://www.instagram.com/ayseogretmentabiatanaokulu/" target="_blank">
                                                                                <i class="fab fa-instagram"></i>
                                                                            </a>
                                                                           
                                                                        </div>

                                                                    </div>
                                                                  
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="owl-item active"
                                                            style="width: 307.5px; margin-right: 30px;">
                                                            <div class="item">
                                                                <div class="z-instructors text-center mb-30">
                                                                    <div class="z-instructors__thumb mb-10">

                                                                        <img decoding="async"
                                                                            src="/tabiatGaleri/8.jpeg"
                                                                            alt="Tabiat Anaokulu Galeri">

                                                                        <div class="social-media">
                                                                            <a href="https://www.instagram.com/ayseogretmentabiatanaokulu/" target="_blank">
                                                                                <i class="fab fa-instagram"></i>
                                                                            </a>
                                                                           
                                                                        </div>

                                                                    </div>
                                                                   
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="owl-nav"><button type="button" role="presentation"
                                                        class="owl-prev"><i
                                                            class="far fa-chevron-left"></i></button><button
                                                        type="button" role="presentation" class="owl-next"><i
                                                            class="far fa-chevron-right"></i></button></div>
                                                <div class="owl-dots disabled"></div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section class="feature-course pb-120 pt-md-95 pb-md-70 pt-xs-95 pb-xs-70">
                                    <div class="container">
                                        <div class="row align-items-center">
                                            <div class="col-xl-6 col-lg-12">
                                                <div
                                                    class="section-title section-title-2 text-center text-xl-start mb-50">
                                                    <h2 class="mb-20">Hemen Tanımaya Başlayın</h2>
                                                    <p>Ayşe Öğretmen Tabiat Anaokulu’ndaki sevimli öğrencilerimizin günlük etkinliklerini ve özel anlarını tanıyın. Onların öğrenme ve eğlence dolu dünyasına adım atın.</p>
                                                </div>
                                            </div>
                                            <div class="col-xl-6 col-lg-12 text-center text-xl-end">
                                                <div class="portfolio-menu portfolio-menu-two mb-30">
                                                    <button class="gf_btn active" data-filter='*'>Tümü</button>
                                                    <button class="gf_btn" data-filter='.cat2'>Aktiviteler</button>
                                                    <button class="gf_btn" data-filter='.cat1'>Özel Etkinlikler</button>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid row">
                                            <% for(let i = 1; i <= 26; i++) { %>
                                                <div class="col-lg-4 col-md-6 grid-item <%= i <= 13 ? 'cat2' : 'cat1' %>">
                                                    <div class="z-gallery z-gallery-two mb-30">
                                                        <div class="z-gallery__thumb mb-20">
                                                            <a href="https://www.instagram.com/ayseogretmentabiatanaokulu/" target="_blank">
                                                                <img class="img-fluid" src="/tabiatGaleri/<%= i %>.jpeg" alt="Tabiat Anaokulu">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% } %>
                                        </div>
                                       
                                    </div>
                                </section>

                                <!-- New Gallery Section -->
                                <section class="feature-course pb-120 pt-md-95 pb-md-70 pt-xs-95 pb-xs-70">
                                    <div class="container">
                                        <div class="row align-items-center">
                                            <div class="col-xl-6 col-lg-12">
                                                <div class="section-title section-title-2 text-center text-xl-start mb-50">
                                                    <h2 class="mb-20">Daha Fazla Anı</h2>
                                                    <p>Okulumuzdan daha fazla özel an ve etkinlik fotoğrafları.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="grid row">
                                            <% for(let i = 1; i <= 23; i++) { %>
                                                <div class="col-lg-4 col-md-6 grid-item">
                                                    <div class="z-gallery z-gallery-two mb-30">
                                                        <div class="z-gallery__thumb mb-20">
                                                            <a href="https://www.instagram.com/ayseogretmentabiatanaokulu/" target="_blank">
                                                                <img class="img-fluid" src="/galeri2/<%= i %>.jpeg" alt="Tabiat Anaokulu">
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                            <% } %>
                                        </div>
                                    </div>
                                </section>
                                <!-- End New Gallery Section -->

                                <!-- course-instructor end -->

                         
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    
    <script>
        'use sticky';
        (function ($) {
            $(document).ready(function () {
                $('.instructor-active').owlCarousel({
                    loop: true,
                    margin: 30,
                    autoplayHoverPause: true,
                    autoplay: true,
                    autoplaySpeed: 2000,
                    autoplayTimeout: 3000,
                    slideTransition: 'linear',
                    smartSpeed: 2000,
                    navText: ['<i class="far fa-chevron-left"></i>', '<i class="far fa-chevron-right"></i>'],
                    nav: true,
                    dots: false,
                    responsive: {
                        0: {
                            items: 1,
                            margin: 0,
                            nav: false,
                            dots: true
                        },
                        600: {
                            items: 2,
                            nav: false,
                            dots: true
                        },
                        992: {
                            items: 3,
                            nav: true
                        },
                        1210: {
                            items: 4,
                            nav: true
                        },
                    }
                });
            });
        })(jQuery)
    </script>
<%- include('partials/footer') %>
