<%- include('partials/head') %>

<div class="container pb-150 pt-150">
    <h2>Yeni Blog Yazısı Oluştur</h2>
    <form method="POST" action="/courses" id="add-blog-form">
        <div class="form-group">
            <label for="blog-title">Başlık</label>
            <input type="text" class="form-control" id="blog-title" name="title" required>
        </div>
        
        <div class="form-group">
            <label for="blog-image">Görsel URL</label>
            <input type="url" class="form-control" id="blog-image" name="image" placeholder="Görsel URL" required>
            <small class="form-text text-muted">Bir URL girin. Örneğin: http://example.com/image.jpg</small>
        </div>

        <div class="form-group">
            <label for="blog-content-editor">İçerik</label>
            <textarea id="blog-content-editor" name="content"></textarea>
        </div>
        
        <div class="form-group">
            <label for="blog-category">Kategoriler</label>
            <select name="category" id="blog-category" class="form-control">
                <% categories.forEach(category => { %>
                    <option value="<%= category._id %>"><%= category.title %></option>
                <% }); %>
            </select>
        </div>
        
        <input type="hidden" name="role" value="<%= user.role %>">
        <button type="submit" class="btn btn-outline-success mt-4">Kaydet</button>
    </form>
</div>

<script src="https://cdn.tiny.cloud/1/ci50tct2dqn49yuj6fy54t44qhrrezgmrpjse3tgcrl07b7a/tinymce/6/tinymce.min.js?language=tr" referrerpolicy="origin"></script>

<script>
  tinymce.init({
    selector: '#blog-content-editor',
    plugins: 'advlist autolink lists link image charmap print preview hr anchor pagebreak',
    toolbar_mode: 'floating',
    entity_encoding : "raw",
    language: 'tr'
});
</script>

<%- include('partials/footer') %>
